<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Create new item</title>
</head>
<body>
  <h1>New Item</h1>
  
  <form action='/items' method='POST'>
    <label for="item_name">Name</label>
    <input type="text" id="item_name" name="item_name" required>

    <label for="item_price">Price</label>
    <input type="text" id="item_price" name="item_price" required>

    <label for="item_category">Category</label>
    <select class="select-bar" id="item_category" name="item_category">
      <% categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </ul>
    </select>
    
    <input type="submit" value="Create Item" class="create-button">
    <button class="cancel-button">
      <a href="/items" class="white-link">Back</a>
    </button>
  </form>
  
</body>
</html>
