<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%# <link rel="stylesheet" href="/style.css"> %>
  <title>Create new customer</title>
</head>
<body>
  <h1>New customer</h1>
  
  <form action='/customers/<%= customer.id %>' method='POST'>
    <input type="hidden" name="_method" value="PUT">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="<%= customer.name%>" required>
    <br>

    <label for="phone">Phone</label>
    <input type="text" id="phone" name="phone" value="<%= customer.phone%>" required>
    <br>

    <input type="submit" value="Edit Customer" class="create-button">
    <button class="cancel-button">
      <a href="/customers" class="white-link">Back</a>
    </button>
  </form>
  
</body>
</html>
