<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Edit food details</title>
</head>

<body>
  <h1>Edit Food</h1>
  
  <form action='/<%= item.id %>' method='POST'>
    <input type="hidden" name="_method" value="PUT">
    <label for="item_name">Name</label>
    <input type="text" id="item_name" name="item_name" value="<%= item.name %>">
    
    <label for="item_price">Price</label>
    <input type="text" id="item_price" name="item_price" value="<%= item.price %>">
    
    <input type="submit" value="Edit Detail" class="create-button">
    <button class="cancel-button">
      <a href="/" class="white-link">Back</a>
    </button>
  </form>
</body>

</html>
